.cuerpo{
    .formulario{
        margin: 10px auto;
        width: 40%;
        font-family: sans-serif;
        font-weight: bold;
        .titulo{
            background-color: blue;
            color: white;
            padding: 10px 20px;
            border-radius: 10px 10px 0px 0px;
            .add{
                float: right;
                cursor: pointer;
                &:hover{
                    color: orange;
                }
            }
        }
        .input{
            padding: 10px 20px;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            input{
                width: 96%;
            }
            .error{
                color: red;
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.2s;
            }
        }
        .tareas{
            .tarea{
                padding: 0px 20px;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.2s, padding 0.2s;
                .delete{
                    float: right;
                    color: red;
                    cursor: pointer;
                    &:hover{
                        color: orange;
                    }
                }
            }
        }
    }
}